@font-face {
    font-family: "Champagne & Limousines Bold";
    src: url(../fonts/Champagne-&-Limousines-Bold.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#contenido-header{
    width: 100%;
    height: 105px;/*128*/
    opacity: 50;
    background-image: url("../imgs/bg-header_LT.png");
    background-position: 50% 0%;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 0px;
    min-width: 1230px;
}

#logo{
    width: 266px;
    height: 148px;
    position: absolute;
    left: 0px;
    top:0px;
}

#redes{
    width: 74px;
    height: 140px;
    position: absolute;
    right: 0px;
    background-image: url("../imgs/bg-redes.png");
    top:0px;
}

#redes div{
    width: 27px;
    margin: 2px 24px;
}
#redes div img{ margin-bottom: 2px }

#redes span{
    font-family: "Tahoma,Arial,Helvetica,sans-serif";
    font-size: 12px;
    margin: 7px 20px;
}

#menu-h{
    height: 69px;
    width: 960px;
    position: absolute;
    top:12px;/*24px*/
    right: 95px;
}

.m-item{
    height: 66px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 130px;
    margin-right: 2px;
    float: left;
    margin-right: -10px;
    /*background-color: #080808;*/
}

#btn-home{ background-image: url("../imgs/btn-home.png") }
#btn-que_es{ background-image: url("../imgs/btn-que-es.png") }
#btn-como_llegar{ background-image: url("../imgs/btn-como.png") }
#btn-actividades{ background-image: url("../imgs/btn-actividades.png") }
#btn-colegios{ background-image: url("../imgs/btn-colegios.png") }
#btn-empresas{ background-image: url("../imgs/btn-empresas.png") }
#btn-noticias{ background-image: url("../imgs/btn-noticias.png") }
#btn-contacto{ background-image: url("../imgs/btn-contacto.png") }


#btn-home:hover{ background-image: url("../imgs/btn-home-hover.png") }
#btn-que_es:hover{ background-image: url("../imgs/btn-que-hover.png") }
#btn-como_llegar:hover{ background-image: url("../imgs/btn-como-hover.png") }
#btn-actividades:hover{ background-image: url("../imgs/btn-actividades-hover.png") }
#btn-colegios:hover{ background-image: url("../imgs/btn-colegios-hover.png") }
#btn-empresas:hover{ background-image: url("../imgs/btn-empresas-hover.png") }
#btn-noticias:hover{ background-image: url("../imgs/btn-noticias-hover.png") }
#btn-contacto:hover{ background-image: url("../imgs/btn-contacto-hover.png") }


#contenido-down{
    width: 100%;
    /*height: 586px;*/
    /*background-color: #FFF2D6;*/
    background-image: url("../imgs/bg-down.png");
    background-position: 50% 0%;
    /*position: absolute;
    /*top: 425px;*/
    /*bottom: 0px;

    margin: auto;
    left: 0px;
    min-width: 960px;
    /*z-index: 10;*/
}

#panel{
    width: 90%;
    /*height: 200px;*/
    overflow: visible;
    min-width: 860px;
    max-width: 1140px;
    margin: auto;
}

#panel table{
    margin-top: 40px;
    width: 100%;
}
#panel table tr td img { width: 98%}


#panel table tr:first-child td:first-child{ width: 22% }
#panel table tr:first-child td:nth-child(2){ width: 29% }
#panel table tr:first-child td:nth-child(3){ width: 29% }
#panel table tr:first-child td:last-child{ width: 20% }



#banner{
    width: 100%;
    /*margin-top: 150px;*/
    bottom: 500px;



}

#banner tr td{ width: 33%}
#banner tr td:first-child div{
    width: 60%;
    min-width: 450px;
    max-width: 480px;
}


#banner tr td:first-child{ max-width: 476px;padding-bottom: 30px;}

#promo {
    position: absolute;
    left: 40px;
    top: 140px;
}

#promo img{

    width: 80%;

}





#down{
    position: absolute;
    bottom: 0px;
    width: 100%;

}
#down_1{
    height: 100px;
    width: 100%;

    float: left;
}

#down_2{
    /*height: 300px;*/
    width: 100%;


    float: left;
    background-image: url("../imgs/bg-down.png");
    background-position: 50% 0%;
}

.icon{
    width: 33%;
    height: 96px;
    /*background-image: url("../imgs/caja-img-miniatura.png");*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;



}
.icon img{
    margin-top: 15px;
    margin-left: 1px;
    cursor: pointer;
}


#botones{
   background-image: url("../imgs/bg-carrusel-miniatura.png");
    background-repeat: no-repeat;

    width: 267px;
    height: 96px;
    /*margin-left: 0px;*/

}
/**************************************************************************/
/**************************************************************************/

#principal{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 980px;
    min-height: 700px;
}



#main{
    width: 100%;
    min-height: 100%;
    height: auto !important;
    background-color: #FFF3D7;
}

#header{
    width: 100%;
    height: 105px;
    /*opacity: 50;*/
    background-image: url("../imgs/bg-header_LT.png");
    background-position: 50% 0%;
    position: absolute;
    top: 0px;
    margin: auto;
    /*left: 0px;*/
    min-width: 1230px;
    z-index: 5;
}
#contenido{
    position: relative;

    height: 50%;
    background-color: #204d74;
    width: 90%;

}

#footer{
    bottom: 0px;
    width: 100%;

    height: 90px;
    margin-top: -91px;
    vertical-align: middle;
}
#footer table{
    height: 100%;
}
#footer table tr td{
    padding-left: 10px;
    padding-bottom: 5px;
}

#img_sup_izq{
    position: absolute;
    top: 85px;
    left: 0px;
    width: 25%;
    max-width: 280px;
}
#img_sup_izq img{
    width: 100%;
}

#img_inf_der{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20%;
    max-width: 240px;
}
#img_inf_der img{
    width: 100%;
}



#frame{
    /*position: relative;*/
    /*width: 300px;*/
    height: 540px;
    margin: auto;
    width: 90%;


}
#panel_izq{
    width: 100%;
    height: 100%;

}

/**********************************************/

#frame table tr td:first-child{
    width: 340px;/*34%;*/
    /*min-width: 340px;*/
}

#text{
    padding: 0px 50px 0px 40px;
    font-family: "Champagne & Limousines Bold";
    font-size: 15pt;
    vertical-align: text-top;
    overflow: auto;
    /*max-height: 300px;*/
}

#frame table tr td:nth-child(2){
    vertical-align: text-top;
}

/*
#frame table tr td:first-child img{
    margin-top: 120px;
    width: 250px;
    max-width: 350px;
}
*/

/**********************************************/
#menu-v {
    margin-top: 120px;
    width: 260px;
    height: 300px;
    text-align: left;



    background-size: contain;
    background-repeat: no-repeat;

}
#menu-v ul{
    float: left;
    margin-top: 115px;
    font-family: "Champagne & Limousines Bold";
    font-size: 20pt;
    vertical-align: text-top;
    list-style-image: url('../imgs/bullet.png');
    margin-left: -10px;
}
#menu-v div{
    font-family: "Champagne & Limousines Bold";
    font-size: 32pt;
    color: #2b542c;
}


#menu-v ul li {
margin-bottom: 4px;
}

#menu-v ul li a{
    text-decoration: none;
}

#menu-v ul li a:link, #menu-v ul li a:visited{
    color: #000;
}
#menu-v ul li a:hover{
    color: #3c763d;
}

#menu-v ul li a:active{
    color: #3c763d;
}

#text h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.imagen{
    width: 140px;
    height: 140px;
    /*background-image: url("../imgs/imagen.png");*/
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
    border-color: #419641;
    border-width: 3px;
    border-style: solid;
}

.margen-sup{
    height: 150px;
    cursor: default ;
}

.equipo{
    width: 350px;
    /*height: 215px;*/
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-top: 1px;
}

.equipo div:first-child{
    height: 130px;
    width: 100px;
    /*background-image: url("../imgs/imagen.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    /*border-color: #419641;
    border-width: 3px;
    border-style: solid;*/
    overflow: hidden;
    float: left;
}
.equipo div:first-child img{
    width: 100%;

}


.equipo div:nth-child(2){
    /*height: 70px;*/
    width: 200px;
    font-size: 13px;
    float: left;
    padding-left: 12px;
}

.equipo div:nth-child(2) strong:first-child{
    color: #2b542c;
}

/**********************************/
#mariposas{
    width: 100%;
}

#mariposas div{
    float: left;
}
#mariposas tr td img{
    width: 220px;
    max-width: 310px;
}
/***********************************/

.tit{
    width: 555px;
    height: 51px;
    background-size: cover;
    cursor: pointer;
}
#titulo1{
    background-image: url("../imgs/btn-horario.png");
}
/*
#titulo1:hover{
    background-image: url("../imgs/btn-horario-hover.png");
}*/
#titulo2{
    background-image: url("../imgs/btn-precios.png");
}
/*
#titulo2:hover{
    background-image: url("../imgs/btn-precios-hover.png");
}*/
#titulo3{
    background-image: url("../imgs/btn-formas.png");
}
/*
#titulo3:hover{
    background-image: url("../imgs/btn-formas-hover.png");
}*/


.conten {
     width: 535px;
     height: 26 0px;
     background-color: #ffffff;
     margin-bottom: 5px;
     display: none;
     font-size: 14pt;
     padding: 10px
 }



#mapa{
    width: 550px;
}
#mapa tr:first-child td:first-child{
    height: 51px;
    width: 275px;
    background-image: url("../imgs/btn-mapa-hover.png");
    background-size: contain;
}


#mapa tr:first-child td:last-child{
    height: 51px;
    width: 275px;
    background-image: url("../imgs/btn-dentro.png");
    background-size: contain;
}
#mapa tr:first-child td:last-child:hover {
    background-image: url("../imgs/btn-dentro-hover.png");

}
#mapa tr:nth-child(2) td:first-child img{
    margin-bottom: 15px;
    margin-left: 42px;
}

#mapa tr:nth-child(2) td:first-child{
    background-color: #ffffff;
}


#panel1{
    margin: auto;
}
#panel2{
    display: none;
}

#formulario{
    width: 400px;
}
#formulario_contacto{
    width: 300px;
}


#formulario input {
    width: 100%;
    padding: 10px;
    background-color: #97BF2B;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 4px;
    border: solid 1px #206137;
    font-family: "Champagne & Limousines Bold";
}
#formulario input::-webkit-input-placeholder { /* WebKit browsers */
    color:#eeeeee;
}
#formulario input::-moz-placeholder{
    color:#eeeeee;
}
#formulario input:-ms-input-placeholder{
    color:#eeeeee;
}




#area_texto{
    width: 420px;
    height: 175px;
    padding: 10px;
    background-image: url("../imgs/campo-mensaje.png");
    background-size: 420px;
    background-repeat: no-repeat;
    color: #206137;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 4px;
    border: 0px;

}

#area_texto textarea{
    background-color: transparent;
    width: 97%;
    height: 70%;
    border: none;
    margin-top: 25px;
    margin-left: 5px;

}
#enviar{
    background-image: url("../imgs/btn-enviar.png");
    background-size: contain;
    width: 60px;
    height: 16px;
    cursor: pointer;
}

.verde{
    width: 500px;
    height: 25px;
    font-size: 12px;
    background-color: #97BF2B;
    border: solid 1px #206137;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 5px;
    vertical-align: top;
    padding-top:  4px;
    border-radius: 8px;
}

#noticias{
 width: 620px;
}

table#programa tr td ul{
    list-style-type: none;
}


#patrocinador{
    width: auto;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 15px;
    height: 60px;
    background: url("../imgs/patrocinador-tit.png");
    background-repeat: no-repeat;
    float: left;
}
#patrocinador_in{
    width: auto;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 15px;
    margin-bottom: -8px;
    background: url("../imgs/patrocinador-tit.png");
    background-repeat: no-repeat;
    float: left;
}

#sponsor{
    width: auto;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 15px;
    height: 60px;
    background: url("../imgs/sponsor-tit.png");
    background-repeat: no-repeat;
    float: left;
}

#sponsor_in{
    width: auto;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 15px;

    margin-bottom: -8px;
    background: url("../imgs/sponsor-tit.png");
    background-repeat: no-repeat;
    float: left;
}
#partner{
    width: auto;
    min-width: 100px;
    margin-right: 0px;
    padding-top: 15px;
    height: 60px;
    background: url("../imgs/partner-tit.png");
    background-repeat: no-repeat;
    float: left;
}
#partner_in{
    width: auto;
    min-width: 100px;
    margin-right: 0px;
    padding-top: 15px;
    margin-bottom: -8px;
    background: url("../imgs/partner-tit.png");
    background-repeat: no-repeat;
    float: left;
}


#patrocinador img{

    float: left;
}
#sponsor img{

    float: left;
}
#partner img{

    float: left;
}