        <footer id="main-foot">
            <h5>Siguenos</h5>
            <ul>
                <li><a href="https://www.facebook.com/selvavivachile" target="_blank"><img src="imgs/RSFace.png" /></a></li>
                <li><a href="https://twitter.com/selvavivastgo" target="_blank"><img src="imgs/RSTwitter.png" /></a></li>
                <li><a href="https://instagram.com/selvaviva" target="_blank"><img src="imgs/RSInstagram.png" /></a></li>
                <li><a href="http://www.youtube.com" target="_blank"><img src="imgs/RSYoutube.png" /></a></li>
            </ul>
        </footer>

    </div>

</div>

</body>
</html>