@charset "utf-8";

div#OrangeFrame{width:92%; height:930px; background-color:#ff6702; margin:30px auto 0px auto; border: #fff 5px dashed; 
    -moz-border-radius-bottomright:60px;
    -webkit-border-bottom-right-radius:60px;
    -ms-border-radius-bottomright:60px;
    border-bottom-right-radius:60px;
    min-width:1020px; padding: 0px 2.5%; position:relative;}

div#OrangeFrame section.logo{width:100%; height:10%; background-image:url(../imgs/LogoTop.png); background-repeat:no-repeat; background-size:contain; position:absolute; top:-5px; left:-5px;}

div#OrangeFrame header.search{ width:100%; height:10%;}


    div.GeneralCont{ width:100.40%; height:790px; background:#fff; margin:20px auto 0px auto; 
    -moz-border-radius-bottomright:60px;
    -ms-border-radius-bottomright:60px;
    -webkit-border-bottom-right-radius:60px; 
    border-bottom-right-radius:60px; 
    min-width:1020px; position:relative; overflow:hidden; background-image:url(../imgs/back02.jpg); background-position:0px 56px; background-repeat:no-repeat; background-size:cover;
    /* ESTA LINEA ES IMPORTANTISIMA, HACE QUE NO SE PIERDA EL BORDE CUANDO SE ESTA HACIENDO LA TRANSICION */
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    }
    
    div.GeneralCont nav.top{ width:100%; height:54px; border-bottom:solid 3px #ff6702;  }
    
    div.GeneralCont nav.top ul.MainMenu{ float:left; width: 55.6%; min-width:684px; max-width:1080px;}
    div.GeneralCont nav.top ul.MainMenu li{ width:16.6%; min-width:114px; max-width:180px; }
    /*div.GeneralCont nav.top ul.MainMenu li a{ color:#ff6702; }*/

    div.GeneralCont nav.top ul.SecMenu{ float:right; width:25%; min-width:272px; max-width:320px; margin-right:10px;}
    div.GeneralCont nav.top ul.SecMenu li{  width:33.3%; min-width:90px; max-width:110px;}
    div.GeneralCont nav.top ul.SecMenu li a{ color:#626265; }
    
    div.GeneralCont nav.top ul li{ float:left; text-align:center; margin-top:4px;}
    div.GeneralCont nav.top ul li a{display:block; padding:18px 0px 16px 0px;text-transform:uppercase; font-style:italic; font-size:1.2em; font-weight:bolder;}
    
    .main-off{background-image:none; color:#ff6702;}
    .main-on{background-image:url(../imgs/MainMenu-ON.png); background-repeat:no-repeat;background-position:top center; pointer-events:none; cursor: default; color:#626265;}


/* *******************=  { CONTENIDO CENTRAL }  =******************* */

div.Central{ width:100%; height:100%;}

    div#MainCont{ width:695px; height:700px ;  /* QUITAR   display:none;*/
    margin:0px auto; 
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; position:relative;
}                          

.ContGrey{background:#EDEEF0; padding:20px 20px 30px 20px;}


div.ocultando{ 
-webkit-transform: translate(-40%, 0px); 
-moz-transform: translate(-40%, 0px);
-ms-transform: translate(-40%, 0px);
-o-transform: translate(-40%, 0px);
transform: translate(-40%, 0px);

}

/*  PARA CONTENIDOS LARGOS COMO DESCRIPCIONES QUE NECESITEN SCROLL USAR  section con la clase  LongContent   */

section.LongContent{width: 690px; height: 635px;}


/* *******************=  { BARRA LATERAL }  =******************* */

aside.lateral { width:auto; height:100%; background:grey; position:absolute; top:57px; right:0px; z-index:500; }
    section.social{ float:left; width:40px; height:100%; background:#626166; position:relative;}

    section.social .tab{ display:block; width:40px; height:120px;  position:absolute; top:80px; left:-40px;
    -moz-border-radius-bottomleft:10px; 
    border-bottom-left-radius:10px; 
    -moz-border-radius-topleft:10px; 
    border-top-left-radius:10px;
    background-size:30px; background-repeat:no-repeat; background-position:8px 10px;
    }

    .taboff{ background:#626166; transition:all .5s; background-image:url(../imgs/pestanaoff.png); }
    .tabon{ background:#ff6702; transition:all .5s; background-image:url(../imgs/pestanaon.png); }

aside.lateral p#tt2, section.LateralCont p{min-width:220px;}

aside.lateral .VisaLatInf img{ -moz-border-radius-bottomleft: 1.2em; border-bottom-left-radius:1.2em; }

/* *******************=  { LATERAL SOCIALES   [ ICONOS REDES ]  =******************* */

    section.social nav { margin-top:325px;}
    section.social nav ul li { margin:8px 7px;}
    section.social nav ul li a{ display:block; background-color:#ff6702; width:26px; height:26px; background-repeat:no-repeat; background-position:center;}
    section.social nav ul li a:hover{background-color:#fff;  }

                        a.sociface{ background-image:url(../imgs/WhiteFace.png);} a.sociface:hover{ background-image:url(../imgs/OrangeFace.png);background-size:20px;}
                        a.socitwit{ background-image:url(../imgs/WhiteTwitter.png);} a.socitwit:hover{ background-image:url(../imgs/OrangeTwitter.png); background-size:20px;}
                            section.social nav ul li a.activetwit{ background-color:#fff; background-image:url(../imgs/OrangeTwitter.png); background-size:20px;}
                        a.sociinsta{ background-image:url(../imgs/WhiteInsta.png);} a.sociinsta:hover{ background-image:url(../imgs/OrangeInsta.png); background-size:23px; }
                        a.socifoursq{ background-image:url(../imgs/WhiteForsquare.png);} a.socifoursq:hover{ background-image:url(../imgs/OrangeFours.png);  background-size:26px;}

    




/* *******************=  { LATERAL CONTENIDO }  =******************* */

    section.LateralCont{ float:left; width:220px; height:99%; background-color:#EDEEF0; padding:10px; display:none; 
    background-image:url(../imgs/here.png); background-repeat:no-repeat; background-position: 0px 360px; }  /* AGREGAR   display:none;*/
    
    section.LateralCont p{ font-size:1em; font-style:italic; }

      .formulario{ width:94%; height:140px; background:#fff; margin:14px auto 24px auto; padding:3%; min-width:width:220px;
    -moz-border-radius-bottomright:30px;
    -ms-border-radius-bottomright:30px;
    -webkit-border-bottom-right-radius:30px; 
    border-bottom-right-radius:30px; 
        }
    input[type=text] { height:26px; width:90%; margin:2px auto 6px auto; border:solid 1px #ff6702;  font-style:italic; color:#B2B3B5; padding:0px 4%;}

    
    .formulario a.aceptar{ display:inline-block; background:#ff6702; color:#fff; font-style:italic; padding:8px 12px; margin-right:12px;}
    .formulario a.simple{ font-style:italic; text-decoration:underline; }

    article#zona_twitter {max-height: 200px;}

/* *******************=  { BARRA FOOTER  }  =******************* */

div#WhiteFooter{width:100%; height:140px; background:#fff; margin:40px auto 0px auto;}
    #WhiteFooter footer{  width:1188px; margin:0px auto;}
        #WhiteFooter footer section { float:left; height:90px; margin:28px auto 18px auto; width:auto; border-right: .13em solid #999; padding:0px 27px 0px 16px; max-width:150px; }
        #WhiteFooter footer section img{ width:100%;}
        #WhiteFooter footer section img.mini{ width:auto; margin-right:4px;}
        #WhiteFooter footer section h6{color:#ff6702;}
        #WhiteFooter footer section:last-child { border-right:none; max-width:194px;}
               #WhiteFooter footer section ul li a{ color:#8A8A8A; font-size:.9em; line-height:1.3em;}
               

