@charset "utf-8";


html, body { width:100%; height:100%;}
header, .body {width:100%;}
span{ color:#2B6103;}
h1{ font-size:18px; text-align:center; margin-bottom:10px; text-transform: uppercase;}
h3{ font-size:18px; margin:10px 0px; font-weight:bolder}
p{ font-size:13px; font-weight:lighter; margin:10px 0px; text-align:justify;}
h5{ font-size:13px;}

#all{height:100%;}

#allWrapper{ min-height:100%; background-color:#F8F8D2 ; background-image: url(../../imgs/inf_der.png); background-repeat:no-repeat; background-position:right bottom; background-size:168px 126px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
    z-index:500; position:relative; overflow: hidden; padding-bottom: 60px;
}

.allWrapper_move {
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

#main-top{ height:60px; background-image:url(../imgs/top_header.png); background-position:top center; background-repeat:repeat-x; background-size:437px 60px;position: relative;
  z-index: 50; }
#main-top #logo { width:150px; height:81px; background-image:url(../imgs/logoselva.png); background-size:contain;}

#main-top #menuIcon {position:absolute; top:12px; right:16px;}
#main-top #menuIcon img{ width:43px; height:25px;}

#content{ width:85%; margin:40px auto;}
#content .submenu{ margin:14px 0px;}
#content .submenu li{padding-left:16px; background-image:url(../imgs/vineta.png); background-repeat:no-repeat; background-position:0px 0px; background-size:13px 20px; line-height:20px; margin-bottom:6px;}

#main-foot { position:absolute; bottom:10px; left:20px;}
#main-foot ul li { float:left; margin-right:4px;}
#main-foot ul li img{ width:28px;  height:auto;}


/***** BANNER *****/

#banners { width:100%; position: absolute; top:50px; z-index: 10; background-color:#000;}
#banners .slide{ background-color:#000; width:100%; height:280px; padding-top:20px; background-position:center; background-size:cover; position:absolute; text-align:center; top:0px; display:none}
#banners .slide img{height:auto; width:285px; }

/* #banners .actual img{width: 100%; height:auto; position:relative} */
/*#banners article{ height:300px;  position:absolute; z-index:100; right:0px; top:0px;}
#banners article img{ width:auto; height:285px; }*/

#home-foot{ width:315px;  margin:300px auto 0px auto; overflow:hidden;}
#minibanner{ width:250px;   margin-top: 12px; height:158px; overflow:hidden; float:left;}
#minibanner img{ width :100%; }
#sociales{float:left; text-align: center;  margin-left:6px;}
#sociales ul li{ width:35px;margin: 0px auto;}
#sociales ul li img{ width:100%}
/***** MENU  ****/

#menuLateral{background-image:url(../imgs/back_menu.png); background-repeat:repeat-y; width:150px; position: absolute; top: 0px; right: 0px; z-index:100;}
#menuLateral ul {margin-top: 40px;}
#menuLateral ul li a{ display:block; color:#fff; border-bottom:1px solid #3C7E24; text-transform:uppercase;padding: 12px 8px;}
#menuLateral ul li:first-child a{border-top:1px solid #3C7E24;}


#horariosList dt{ color:#fff; text-transform:uppercase; padding:8px 12px; font-size:12px;  background-repeat:no-repeat; background-position: right center; margin-top:8px;}
#horariosList dt.off{ background-color:#96C113; background-image:url(../imgs/arrowdown.png); }
#horariosList dt.on{ background-color:#1B5F32; background-image:url(../imgs/arrowdown.png); }
#horariosList dd{background-color:#fff; color:#000; padding:8px 12px; display:none;}
#horariosList table{ width:100%; border-collapse: seperate; border-spacing: 2px 12px; font-size:13px;}
#horariosList table td:last-child{ width:20%; min-width:56px; text-align:right;}
#horariosList table td{ vertical-align:middle; min-height:28px; padding:6px 0px}

#footbanner{ width:100%; height:30px; position:absolute; background-image: url(../imgs/footbanner.png);top: 275px;}

.equipo {
  width: 250px;
  float: left;
  margin-bottom: 10px;
}

.equipo div:first-child {width: 90px; background-repeat: no-repeat; background-size: contain; overflow: hidden; float: left; }
.equipo div img{ width:100%; height:auto;}
.equipo div:nth-child(2) {width: 150px; font-size: 13px; float: left; padding-left: 10px;}


.arrow{ width:40px; margin:10px auto;}
.arrow img{ width:100%; height:auto}

#formulario input{height:40px; background:#92B51D; border:none;color:#fff; padding:0px 10px; margin-bottom:8px;
border-radius: 4px; 
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
width:-moz-calc(100% - 20px);
width:calc(100% - 20px);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#fff;
}

#formulario textarea{height:134px; border:solid 1px #92B51D; color:#92B51D; padding:10px 10px; margin-bottom:8px; resize:none; background:none;
border-radius: 4px; 
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
width:-moz-calc(100% - 20px);
width:calc(100% - 20px);
}
#elTextarea { position:relative;}
#camaleon{ position:absolute; right:0px; bottom:-23px; background-image:url(../imgs/icon_camaleon.png); background-size:contain; width:90px; height:90px;}

.whiteForm{ width:100%; height:24px; position:relative;}
.whiteForm input{ 
height: 40px;
  background: #92B51D;
  border: none;
  color: #fff;
  margin-bottom: 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
width:-moz-calc(100% - 78px); width:calc(100% - 78px); padding:0px 70px 0px 8px;
}
.descargar{ background:#fff; color:#B1BF2F; font-size:12px; padding:2px 6px; position:absolute; top:11px; right:6px;}

.enviar{ background-image:url(../imgs/hoja.png); background-size:contain; background-repeat:no-repeat; padding-left:15px;}

#ubicacion{width:100%; overflow:hidden; margin-top:30px;}
#mapa_ubicacion{float:left; width:50%; height:180px;}
.direcciones{float:left; width:50%;}
.direcciones ul li{color:#2B6103; list-style:disc; margin-left: 30px; margin-bottom:10px; font-size:12px;}

#tabs{ width:100%; overflow:hidden;}
#tabs li{ width:50%; height:40px;  color:#fff; text-transform:uppercase; text-align:center; display:table; float:left; }
#tabs li p{display:table-cell; vertical-align: middle; text-align: center;}
#tabs li.activo{background-color:#155622;}
#tabs li.noactivo{ background-color:#95C013;}
.mapacont{ width:100%; background-color:#fff; text-align:center; padding-bottom:24px;}
.mapacont img{ width:100%;}
.mapacont ul li{ text-align:left; font-size:12px; list-style:disc; margin-left:26px;}
#mapIn{display:none;}

#botonera{ position:absolute; top: 212px; width:100%; z-index:500;}
#botonera ul{ width:180px; height:65px; background-image:url(../imgs/botonera.png); background-size:180px; margin:0px auto;}
#botonera ul li{ float:left; width:50px; height:50px; display:block; margin:10px 4px;}
#botonera ul li img{ width:100%;}
#botonera ul li.bnnractv{ border:2px solid #FF6600;
-webkit-border-radius: 25px;
-moz-border-radius: 20px;
border-radius: 25px;}